*.egg-info
data/**
!data/README.md
docs
generated
networks/**
!networks/README.md
tests
src/**
bin/misc
bin/mc.jpeg
bin/Untitled*
bin/inter*
results/**
!results/README.md
bin/__py*
bin/misc*
.DS*
setup.py



